:root {
  --color-primary: #000DBF;
  --color-primary-light: #D9D50B;
  --color-primary-dark: #000000;
  --color-secondary: #C20800;
  --color-background: #E3E3E3;

  --font-primary: adobe-caslon-pro, serif;
  --font-secondary: proxima-nova, sans-serif;
}

html {
  font-family: var(--font-primary);
}
