.btn {
  background-color: var(--color-background);
  border-color: var(--color-background);
  color: var(--color-primary-dark);
  font-family: var(--font-secondary);
}

.btn:hover {
  background-color: var(--color-primary-dark);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

.btn-ghost:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-background);
}

.btn-light {
  background-color: transparent;
  border-color: var(--color-primary-dark);
  color: var(--color-primary-dark);
  font-family: var(--font-secondary);
}

.btn-light:hover {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  background-color: var(--color-background);
}
